* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}
.page-holder {
  position: relative;
  height: 600svh;
  width: 100svw;
  background-color: black;
}

.video-parent-section {
  position: sticky;
  top: 0;
  height: 100svh;
  width: 100svw;
  color: white;
}

.video-section, .video-container , .playing-video,.content-holder, .playing-video-tag{
  height: 100%;
  width: 100%;
 
}

.content-holder{
  border: 1px solid yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playing-video{
  background-size: cover;
  background-position: center;

}

.playing-video-tag{
  width: 100svw;
  height: 100svh;
  object-fit: cover;
}

.content-parent-section {
  position: absolute;
  top: 0;
  height: 600svh;
 
}

.content-section{
    height: 100svh;
    width: 100svw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.212);
}

.content-section h2{
  font-weight: 500;
  font-size: 35px;
  color: white;
}